.wrapper{
    margin: auto 2rem;
    padding: 2rem 3rem;
    width: 37.5%;
    border-radius: .5rem;
    box-shadow: 0px 0px 10px #aaa;
}

.header{
    margin-bottom: 2rem;
}

.heading{
    font-size: 1.75rem;
    font-weight: 600;
}

.subHeader{
    margin-top: .25rem;
    font-weight: 600;
}

.formField{
    margin-bottom: 1rem;
}

.formField:last-child{
    margin-bottom: 0;
}
