.wrapper{
    max-height: calc(100vh - 4.125rem);
    height: calc(100vh - 4.125rem);
    padding: 2rem 3rem 0 3rem;
    width: 100%;
    background: #23242E;
    color: #E3E3E6;
}

.cardContainer {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.mainContainer{
    width: 100%;
    display: flex;
    gap: 1rem;
}

.plan{
    width: 67%;
}

.landingTable{
    padding: 0;
}

.countryReport{
    width: 33%;
    overflow-y: auto;
}

.innerCard{
    padding: 1rem 0 0 1rem;
    height: 53vh;
    overflow-y: auto;
}

.cardItem{
    margin-bottom: .75rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.cardItemImage{
    width: 2.25rem;
}

.cardItemInfo{
    width: 80%;
    margin-left: .5rem;
}

.cardItemRemark{
    width: 20%;
}

.reportContainer{
    width: 100%;
    display: flex;
    gap: 1rem;
}

.reportContainerItem{
    width: 33%;
}
