@import "tailwindcss";

*{
    box-sizing: border-box;
}

:where(.css-dev-only-do-not-override-1yacf91).ant-layout-header{
    padding: 0 !important;
}

:where(.css-dev-only-do-not-override-1yacf91).ant-card .ant-card-body {
    padding: 0;
}

canvas {
    border-radius: .5rem;
}
